*.o
src/*.o-*
*.so
*.dll
.RData
.Rproj.user
.Rhistory
inst/doc
.httr-oauth
*.Rds
*~
\#*\#
.DS_Store
Icon?
vignettes/PAINS/raw_data/*
vignettes/PAINS/intermediate_data/*
vignnetes/PAINS/product/*
Rplots.pdf
*.parquet
